.box {
    width: 12rem;
    /* height: 6rem; */
    margin: 0.15rem auto;
}
.FavoriteItem>span {
    display: block;
    margin-left: 0.15rem;
    /* margin-bottom: 0.15rem; */
    font-size: 0.2rem;
}
.FavoriteItem>div {
    width: 12rem;
    /* height: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
    /* background-color: #666; */
}
.itemBox {
    width: 3.7rem;
    height: 1.32rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
    padding: 0.15rem;
}
.thumb {
    width: 0.98rem;
    height: 0.98rem;
    border-radius: 0.05rem;
}
.rightBox {
    height: 0.98rem;
    margin-left: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title {
    font-size: 0.16rem;
    font-weight: 500;
}
.rightBox span {
    font-size: 0.12rem;
}
.star {
    padding-left: 0.1rem;
    width: 0.7rem;
    height: 0.2rem;
    line-height: 0.2rem;
    text-align: center;
    font-size: 0.1rem;
    color: #EFFA02;
    background-image: url('/images/home/stars.png');
    background-size: 0.7rem 0.2rem;
}
.category {
    color: #666;
}
.rightBox .money {
    font-size: 0.14rem;
    color: #FA2B1E;
}