.box {
    width: 12rem;
    margin: 0.5rem auto 0;
}
.ProjectEvaluation {
    padding: 0.18rem;
    width: 8.92rem;
    height: 1.64rem;
    background-image: linear-gradient(to right, #FEF1F1, #fff);
}
.ProjectEvaluation>span {
    font-size: 0.2rem;
    font-weight: 500;
}
.contentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.14rem;
}
.starContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 5.2rem;
    height: 0.8rem;
    padding-top: 0.1rem;
    margin-left: 0.5rem;
    margin-right: 0.3rem;
    /* background-color: #666; */
}
.star {
    width: 1.1rem;
    height: 0.37rem;
    line-height: 0.37rem;
    text-align: center;
    padding-left: 0.18rem;
    background-image: url('/images/home/stars.png');
    background-size: 1.1rem 0.37rem;
    color: #EFFA02;
}
.startYellow {
    width: 0.15rem;
    height: 0.15rem;
    margin-left: 0.05rem;
}
.starListItem {
    width: 2.2rem;
    height: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.longStar {
    width: 2.5rem;
}
.starBtn {
    width: 1.63rem;
    height: 0.42rem;
    text-align: center;
    line-height: 0.42rem;
    color: #FA2B1E;
    background-color: #FEF1F1;
    border-radius: 0.08rem;
    cursor: pointer;
}