.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 2.22rem;
  height: 5rem;
  background-image: linear-gradient(to bottom, #f58716, #ee5203);
}
.bossBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 2.22rem;
  height: 5rem;
  background-image: linear-gradient(7deg, #1652f5 8%, #02a9ee 91%);
}
.iconBox {
  margin-left: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 0.45rem;
  width: 2rem;
}
.icon {
  width: 0.36rem;
  height: 0.36rem;
}
.textBox {
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
}
.text {
  font-size: 0.16rem;
  font-weight: 500;
  color: #fff;
}
.tip {
  margin-top: 5px;
  font-size: 0.16rem;
  font-weight: 500;
  color: #fff;
}
.boosTip {
  margin-top: 5px;
  font-size: 0.14rem;
  font-weight: 300;
  color: #fff;
}
