.bannerBox {
  align-items: center;
  justify-content: center;
  height: 3.9rem;
  .box {
    // border: 1px solid red;
    width: 7.1rem;
    height: 3.87rem;

        .banner {
          width: 7.1rem;
          height: 3.87rem;
          // border-radius: 0.16rem;
        }
  }
}
